.message-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 1.5rem;
    background-color: $grey-medium;
    flex: 0 0 auto;

    &__emoji {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        color: $grey;

        &:hover {
            cursor: pointer;
        }
    }

    &__emoji-picker {
        position: absolute;
        bottom: 4rem;
        right: 0;
    }

    &__input {
        width: 100%;
        height: 100%;
        border: none;
        padding-block: 1rem;
        color: $grey;
        background-color: $grey-medium;
        font-family: "Rubik", sans-serif;
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }
}